:root{
    --dark-color:#202c37;
    --dark-color-2:#2b3945;
    --dark-color-3::#2f2e2e;
    --white-color:#ffff;
    --bg: #e3e4e8;
    --fg: #17181c;
    --c1: #f42f25;
    --c2: #f49725;
    --c3: #255ff4;
    --c4: #9725f4;
    --main-color:#611BE3;
    --white-color-2:#dadada;
    --text-color:#fff;
    --black-color:#000; }
.rounded{
  border-radius: 12px !important;
}
body{
   overflow-x: hidden !important;
   transition: .7s;
   background-color: var(--dark-color) !important; }
   ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar {
    width: 10px;}
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 transparent; 
    border-radius: 10px;}
   
  ::-webkit-scrollbar-thumb {
    background: var(--main-color); 
    border-radius: 10px;}
.li-items-portfolio{
    background: linear-gradient(to bottom, rgb(97, 27, 227), #8935DD);
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 100 !important;
    transition: 0.4s; }
.li-items-portfolio.toggle2{
    left: -80px;
}
.li-items-portfolio.toggle{
    left: -80px;}

.li-items-portfolio ul li{ 
   cursor: pointer; }

.li-items-portfolio ul li ion-icon{ 
   opacity: 0.7;}

.li-items-portfolio ul li:hover .hoverd{
    visibility: visible;
    opacity: 1; }
 .portfolio-content{
  overflow: hidden;
 }
.hoverd{
    content: "";
    right: -25px;
    top: 5px;
    cursor: default;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
    border-color: transparent var(--dark-color) transparent transparent;
    border-style: solid;
    border-width: 7px; }
.hoverd.active{
    visibility: visible;
    opacity: 1;}
.navbar{
    background-color: var(--dark-color-2);
    transition: 0.4s;
    margin-left: 68px;}
@media(max-width:767px){
    .navbar{
        margin-left: 0;}
    .navbar.toggle{
        transform: translateX(68px);}
    .portfolio-container{
        margin-left: 0 !important;
    }
    .portfolio-container.toggle{
        transform: translateX(68px);}
}
.navbar.toggle{
    margin-left: 0;}
.navbar.toggle2{
    transform: translateX(68px);}
.toggle-menu-porto{
    cursor: pointer;}
.toggle-menu-porto span{
    margin: 3px 0;
    opacity: 0.8;
    background-color: var(--white-color);
    transition: 0.4s;
    width: 40px;
    height: 3px; }
.portfolio-container{
    margin-left: 70px;
    transition: 0.4s;
    margin-top: 68px;}
.portfolio-container.toggle{
    margin-left: 0;}
.portfolio-container.toggle2{
    transform: translateX(68px);}
.toggle-menu-porto span:nth-child(1){
    width: 15px;}
.toggle-menu-porto span:nth-child(2){
    width: 30px;}
.toggle-menu-porto:hover span:nth-child(1),span:nth-child(2){
    width: 40px;}
.toggle-menu-porto:hover span:nth-child(2){
    width: 40px;}

ion-icon {
  font-size: 20px;}
.dark-light{
    font-size: 17px;
    transform: translateY(1px);}
.dark-light-button{
    outline: none;
    border-radius: 45px;
    font-weight: 600;
    transition: 0.4s;
    box-shadow: 11px 10px 22px -23px var(--black-color);
    background: linear-gradient(to right, #611BE3, #8935DD);
    color: #fff;
    border: 0;
    padding: 7px 35px; }
.dark-light-button:hover{
    background: linear-gradient(to left, #611BE3, #8935DD); }
.home-section{
    overflow: hidden;
    height: 100vh;
    display: grid;
    place-items: center;}
.skills-section > div > div > div > div{
    padding: 50px 20px;
    transition: 0.4s;
    border-radius: 10px;}
.skills-section > div > div > div > div:hover{
    transform: translateY(-10px);}
.skills-section > div > div > div > div h3{
    font-size: 21px !important;}
    .skills-section > div > div > div > div{
        box-shadow: 11px 10px 22px -23px var(--black-color)}

.home-section h1{
    font-size: 24rem;
    margin-left: -21px;
    font-weight: bold;
    line-height: 0.9;
    margin-bottom: 45px;}
    .about-us-section img{
        box-shadow: 11px 10px 22px -23px var(--black-color);
        animation: 5s identifier infinite;} 
.about-us-section .about-us-content .details-ahmed-naseem{
    margin-right: 40px; }
.works-section-content > div{
    box-shadow: 11px 10px 22px -23px var(--black-color) ;}
@media(max-width:992px){
    .about-us-section img{
        width: 200px !important;
        height: 200px !important;}
    .works-section-content{
        display: block !important;}
    .works-section-content > div{
        margin-bottom: 20px;
        width: 100%;}
    .home-section{
        text-align: center; }
    .home-section h1{
        font-size: 8rem;
        margin-left: 0; }
    .home-section img{
        width: 1000px; }
    .about-us-section{
        text-align: center;
        padding: 0 20px;
        width: 100%; }}
@media(max-width:1200px){
    .about-us-section{
        text-align: center;}
    .about-us-section .about-us-content{
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column-reverse !important;}
    .about-us-section .about-us-content .details-ahmed-naseem{
        margin-right: 0;}
    .about-us-section img{
        width: 300px;
        height: 300px;} }
.background-moving{
    animation: 3s identifier infinite;
    z-index: 1;
    opacity: 0.2;}
.details-home{
    transform: translateY(-65px);
    z-index: 2;}

@keyframes identifier {
    0%{transform: translate(0,0px);}
    25%{transform: translate(10px,10px);}
    50%{transform: translate(0,0px);}
    75%{transform: translate(10px,10px);}
    100%{transform: translate(0,0px);}}

.text-color{
    color:var(--main-color) !important;}
.white-color-2{
    color:var(--white-color-2) !important;
    font-weight: 500;}
.white-color{
    color: var(--white-color) !important;}
.dark-color-2{
    background-color: var(--dark-color-2);}
.p-sections{
    padding: 100px 0;}
.left-border{
    border-left: 5px solid var(--main-color);
    padding-left: 20px;}
.works-section-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    flex-wrap: wrap;
    gap: 25px;}

.works-section-content > div:hover .hidden{
    opacity: 1;
    visibility: visible;}
.hidden{
    height: 100%;
    display: grid;
    transition: 0.4s;
    background: #2b3945a8;
    place-items: center;
    opacity: 0;
    visibility: hidden;}
.hidden > div h4{
    color: var(--text-color);}

.contact-details{
    background-color: var(--dark-color-2);
    justify-content: space-between;
    box-shadow: 11px 10px 22px -23px var(--black-color);
    padding: 30px 40px !important;}
.contact-details p,div{
    word-break: break-word;
    font-size: 20px !important;}
@media(max-width:1200px){
    .contact-details{
        flex-direction: column;
        justify-content: center;}
    .contact-details p{
        font-size: 15px !important;
        padding-top: 17px;}
}
.contact-details ion-icon{
    color:var(--text-color);
    background: linear-gradient(to bottom, rgb(97, 27, 227), #8935DD);}
.social-links a{
    box-shadow: 11px 10px 22px -23px var(--black-color);
    padding: 18px 10px;}
.social-links a:hover span{
    visibility: visible;
    opacity: 1;
}
.social-links ion-icon{
    font-size: 40px !important;;

    transform: translateY(13px);}
.learn-more > span{
    transition:0.4s;
    right: -30px;}
.learn-more:hover span{
    right: 7px;}
.social-hoverd{
    width: 150px !important;
    transition: 0.4s;
    top: 70px;
    left: 19px;
    background: linear-gradient(to bottom, #611be3, #8935DD);
    visibility: hidden;
    opacity: 0;}
.social-hoverd::after{
    content: "";
    border-color: transparent transparent #611be3 transparent;
    border-width: 10px;
    border-style: solid;
    position: absolute;
    top: -17px;
    left: 2px;}
.scroll-top{
  z-index: 10000;
  display: none;
  bottom: -50px;
  position: relative;
  z-index: 100000;
  right: 10px;
  transition: 0.4s;
  background: linear-gradient(to bottom, rgb(97, 27, 227), #8935DD);
  cursor: pointer;}
.scroll-top:after{
  content: "";
  position: absolute;
  inset: 0;
  width: 0;
  height: 100%;
  transition: 0.4s;
  background-color: #00000025;}
.scroll-top.out{
  bottom: 10px;}
.scroll-top:hover:after{
  width: 100%;
}

.pl1 {
  justify-content: space-around;}
.pl1__a, .pl1__b, .pl1__c{
  border-radius: 50%;
  width: 1em;
  height: 1em;
  transform-origin: 50% 100%;}

.pl1__a, .pl1__b, .pl1__c {
  animation: bounce1 1s linear infinite;}

.loading{
    z-index: 10000;
    height: 100vh;
    display: grid;
    place-items: center;}
.pl1 {
  display: flex;
  margin: 1.5em;
  width: 6em;
  height: 6em;
  margin: auto;}
.pl1__a {
  background: var(--c1);}
.pl1__b {
  background: var(--c2);
  animation-delay: 0.1s;}
.pl1__c{
  background: var(--c3);
  animation-delay: 0.2s;}


/* Animations */
@keyframes bounce1 {
  from, to {
    transform: translateY(0) scale(1, 1);
    animation-timing-function: ease-in;}
  45% {
    transform: translateY(5em) scale(1, 1);
    animation-timing-function: linear;}
  50% {
    transform: translateY(5em) scale(1.5, 0.5);
    animation-timing-function: linear;}
  55% {
    transform: translateY(5em) scale(1, 1);
    animation-timing-function: ease-out;}}
@keyframes bounce2 {
  from, to {
    transform: translateY(0) scale(1, 1);
    animation-timing-function: ease-in;}
  9%, 29%, 49%, 69% {
    transform: translateY(5em) scale(1, 1);
    animation-timing-function: linear;}
  10% {
    transform: translateY(5em) scale(1.5, 0.5);
    animation-timing-function: linear;}
  11%, 31%, 51%, 71%, 91% {
    transform: translateY(5em) scale(1, 1);
    animation-timing-function: ease-out;}
  20% {
    transform: translateY(2.5em) scale(1, 1);
    animation-timing-function: ease-in;}
  30% {
    transform: translateY(5em) scale(1.25, 0.75);
    animation-timing-function: linear;}
  40% {
    transform: translateY(3.75em) scale(1, 1);
    animation-timing-function: ease-in;}
  50% {
    transform: translateY(5em) scale(1.125, 0.875);
    animation-timing-function: linear;}
  60% {
    transform: translateY(4.375em) scale(1, 1);
    animation-timing-function: ease-in;}
  70% {
    transform: translateY(5em) scale(1.0625, 0.9375);
    animation-timing-function: linear;}
  85% {
    transform: translateY(5em) scale(1, 1);
    animation-timing-function: ease-in;}
  90% {
    transform: translateY(5em) scale(1.875, 0.125);
    animation-timing-function: ease-in-out;}}
@keyframes bounce3 {
  from, 5%, 95%, to {
    transform: translateY(0) scaleY(1);}
  16.7% {
    transform: translateY(0) scaleY(8);}
  28.3%, 38.3% {
    transform: translateY(5.25em) scaleY(1);}
  50% {
    transform: translateY(2.625em) scaleY(4.5);}
  61.7%, 71.7% {
    transform: translateY(2.625em) scaleY(1);}
  83.3% {
    transform: translateY(0) scaleY(4.5);}}
@keyframes bounce4 {
  from, 20%, 40%, 60%, 80%, to {
    transform: scaleY(1);
    animation-timing-function: ease-out;}
  10% {
    transform: scaleY(8);
    animation-timing-function: ease-in;}
  30% {
    transform: scaleY(4);
    animation-timing-function: ease-in;}
  50% {
    transform: scaleY(2);
    animation-timing-function: ease-in;}
  70% {
    transform: scaleY(1.5);
    animation-timing-function: ease-in;}}
/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #17181c;
    --fg: #e3e4e8;}}